<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
    <h1>Best Books!</h1>
    <nav>
        <img src="" alt="">
    </nav>
    </div>
    <div>
        <p>
            Search by Title or Author 
        </p>
    </div>

    <form action="">
        <input type="text" name="searchQuery" placeholder="Enter a title or auther">
        <input type="radio" id="title" name="title" >
        <label for="title">title</label>
        <input type="radio" id="author" name="author">
        <label for="author">Author</label>

        <button type="submit" id="button">Search the Google API</button>
    </form>
</body>
</html>