<!DOCTYPE html>
<html lang="en">


<body>
    <%- include('../../layout/head')  %>
    <%- include('../../layout/header')  %>

    <div id="second-header-div">
        <h3>
            Search by Title or Author
        </h3>
    </div>
    <div id="form-div">
        <form id="form" action="/searches" method="POST">
            <div id="text-field">
                <input type="text" name="searchQuery" placeholder="Enter a title or auther">
            </div>
            <div class="radio">
                <input type="radio" id="title" name="searchBy" value="title">
                <label for="title">Title</label>
            </div>
            <div class="radio">
                <input type="radio" id="author" name="searchBy" value="author">
                <label for="author">Author</label>
            </div>
            <button type="submit" id="search" name="search">Search the Google API</button>
        </form>
    </div>
    <script>
        function myFunction() {
          var x = document.getElementById("myLinks");
          if (x.style.display === "block") {
            x.style.display = "none";
          } else {
            x.style.display = "block";
          }
        }
    </script>
</body>

</html>