<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../../../public/styles/reset.css">
    <link rel="stylesheet" href="../../../public/styles/base.css">
    <link rel="stylesheet" href="../../../public/styles/layout.css">
    <link rel="stylesheet" href="../../../public/styles/modules.css">
    <title>Document</title>
</head>

<body>
    <div id="header-div">
        <h1>Best Books!</h1>
        <nav>
            <img src="" alt="">
        </nav>
    </div>
    <div id="second-header-div">
        <h3>
            Search by Title or Author
        </h3>
    </div>
    <div id="form-div">
        <form id="form" action="/searches" method="POST">
            <div id="text-field">
                <input type="text" name="searchQuery" placeholder="Enter a title or auther">
            </div>
            <div class="radio">
                <input type="radio" id="title" name="searchBy" value="title">
                <label for="title">Title</label>
            </div>
            <div class="radio">
                <input type="radio" id="author" name="searchBy" value="author">
                <label for="author">Author</label>
            </div>
            <button type="submit" id="search" name="search">Search the Google API</button>
        </form>
    </div>
</body>

</html>