h1,h3 {
    padding: 1%;
}

#second-header-div {
    text-align: center;
}

#form,.container {
    text-align: center;
    margin: auto;
    margin-top: 10%;
    width: 50%;
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3,33%);
    row-gap: 20%;
}

#text-field input {
    width: 99%;
    height: 90%;
    font-size: larger;
}

button {
    padding: 2%;
    font-size: 110%;
    background-color: rgb(39, 3, 3);
    color: white;
}

button:hover{
    opacity: 0.95;
}

a:link ,a:visited{
   text-decoration: none; 
   color:white; 
}



.radio label, .radio input {
    margin: 2%;
}

.radio label {
    font-size: larger;
}

#text-field,.radio,button {
    border-radius: 3px;
}

/*///////////////////// SHOW.EJS//////////////////  */

img {
    margin: 4%;
}

.description,.title-and-author {
    margin: 2%;
}

.container {
    height: 100%;
    grid-template-rows: 40% 20% 40%;
    row-gap: 0;
    background-color: wheat ;
    opacity: 1;
}


.error{
    height: 25%;
    width: 25%;
    text-align: center;
    padding: 10%;
    background-color: rgba(255, 255, 255, 0.397);
    border-radius: 15%;
    margin:auto;
    display: block;
    
    
}

