#header-div,#second-header-div {
    background-color: wheat;
    opacity: 0.8;
    color: darkred;
    text-align: center;
}

.radio {
    background-color: wheat;
    opacity: 0.7;
    text-align: left;
    color: darkred;
}

button {
    background: wheat;
    color: darkred;
}

#text-field:hover,.radio:hover,button:hover {
    cursor: pointer;
}
