#header-div,#second-header-div {
    background-color: #f5deb3;
    opacity: 0.8;
    color: rgb(139, 0, 0);
    text-align: center;
}

.radio {
    background-color: wheat;
    opacity: 0.7;
    text-align: left;
    color: darkred;
}


#text-field:hover,.radio:hover,button:hover {
    cursor: pointer;
}


.mobile-container {
    max-width: 480px;
    margin: auto;
    background-color:#d4d2d180;
    height: 500px;
    color: white;
    border-radius: 10px;
  }
  
  .topnav {
    overflow: hidden;
    background-color:#41110496;
    position: relative;
  }
  
  .topnav #myLinks {
    display: none;
  }
  
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  .topnav a.icon {
    background: #dac0ba96;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav a:hover {
  
    opacity: 0.8;
  }
  
.active {
    background-color:#41110469;
   
  }



  .open-button , .deleteBtn {
    background-color:#280505;
    color: white;
    margin-left: 40%;
    margin-top: 2%;
    height: 10%;
    width: 20%;
  }


  .form-popup {
    display: none;
    position: absolute;
    overflow:hidden;
    bottom: 0;
    border: 3px solid #f1f1f1;
    z-index: 9;
    margin-left: 40%;
  }
  
  .form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
  }
  

  .form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
 
  .form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }

  .form-container .btn {
    background-color:#280505;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  
  .form-container .cancel {
    background-color: red;
  }
  
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }
